{% extends 'base.html.twig' %}

{% block title %}Modifier le produit{{ product.name }}{% endblock %}

{% block body %}
    <h1>Modifier le produit</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('product_index') }}">Retour à la liste des produits</a>
{% endblock %}
