{% extends 'base.html.twig' %}

{% block title %}Détails du produit{{ product.name }}{% endblock %}

{% block body %}
    <h1>Détails du produit</h1>

    <ul>
        <li>ID : {{ product.id }}</li>
        <li>Nom : {{ product.name }}</li>
        <li>Description : {{ product.description }}</li>
        <!-- Ajouter d'autres champs selon les propriétés de votre entité Product -->
    </ul>

    <a href="{{ path('product_edit', {id: product.id}) }}">Modifier</a>
    <a href="{{ path('product_index') }}">Retour à la liste des produits</a>
{% endblock %}
